<ion-view view-title="Tasks">
  <ion-content data-ng-init"login.show()">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadTasks()">
    </ion-refresher>
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
          <ion-list can-swipe="listCanSwipe" ng-show="tasks">
            <ion-item class="item item-icon-right" ng-repeat="task in tasks | filter:statusIsReserved" href="#/tab/tasks/{{task.id}}?status={{task.status}}">
              <div class="taskListItem">
                <h2>Task Name</h2>
                <p>{{task['name']}}</p>
                <h2>Assigned To</h2>
                <p>{{task['created-by']}}</p>
              </div>
              <div>
                <h2>Status</h2>
                <p>{{task.status}}</p>
                <h2>ID</h2>
                <p>{{task.id}}</p>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <ion-button class="button-assertive button-start" ng-click="startTask(task)">
                Start
              </ion-button>
              <ion-button class="button-positive button-release" ng-click="releaseTask(task)">
                Release
              </ion-button>
            </ion-item>
            <ion-item class="item item-icon-right" ng-repeat="task in tasks | filter:statusIsInProgress" href="#/tab/tasks/{{task.id}}?status={{task.status}}">
              <div class="taskListItem">
                <h2>Task Name</h2>
                <p>{{task.name}}</p>
                <h2>Assigned To</h2>
                <p>{{task['created-by']}}</p>
              </div>
              <div>
                <h2>Status</h2>
                <p>{{task.status}}</p>
                <h2>ID</h2>
                <p>{{task.id}}</p>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <ion-button class="button-positive button-release" ng-click="releaseTask(task)">
                Release
              </ion-button>
            </ion-item>
            <ion-item class="item item-icon-right" ng-repeat="task in tasks | filter:statusIsReady" href="#/tab/tasks/{{task.id}}?status={{task.status}}">
              <div class="taskListItem">
                <h2>Task Name</h2>
                <p>{{task.name}}</p>
                <h2>Created By</h2>
                <p>{{task['created-by']}}</p>
              </div>
              <div>
                <h2>Status</h2>
                <p>{{task.status}}</p>
                <h2>ID</h2>
                <p>{{task.id}}</p>
              </div>
              <i class="icon ion-chevron-right icon-accessory"></i>
              <ion-button class="button-assertive button-claim" ng-click="claimTask(task)">
                Claim
              </ion-button>
            </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
